<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blind Date.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>415FBC2D1F1164810030B258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415FBC411F1164810030B258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415FBC4C1F1164810030B258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
